body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	width: 80%;
	margin: auto;
	line-height: 2em;
}
.heading1 {
	font-weight: 900;
	font-size: 3em;
}
#subhead {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-kerning: unset;
	letter-spacing: .1em;
	word-spacing: .15em;
	text-shadow: 2px 2px 5px grey;
}
.para,
.listings {
	font-size: 1.2em;
}
a {
	text-decoration: none;
}
span {
	font-size: 2em;
	font-weight: bolder;
}
em {
	font-weight: 600;
}
